<div class="bg-gray-700 min-h-screen text-white px-8 flex flex-col"> 
  <div class="flex-1"> 
    <div class="mt-20">
      <%= form_tag(movies_path, method: :get) do %>
        <div class="flex items-center">
          <%= text_field_tag :movie_title, params[:movie_title], placeholder: 'Enter movie name', class: "rounded-l-lg p-4 border-t border-b border-l border-black text-gray-800 border-gray-200 bg-white focus:outline-none focus:border-blue-500 flex-1 mr-2", style: "height: 40px;" %>
          <%= submit_tag 'Search', class: "px-6 py-2 bg-blue-500 text-white rounded-r-lg hover:bg-blue-600" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="flex-1 mt-5"> 
    <% if @movies.present? && @movies.any? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <% @movies.each do |movie| %>
          <div class="relative group border rounded-lg overflow-hidden bg-gray-800 shadow-md transition-transform duration-300 transform hover:scale-105">
                <% if movie['poster_path'].present? %>
                <%= link_to movie_path(movie['id']) do %>
                    <%= image_tag("https://image.tmdb.org/t/p/w500#{movie['poster_path']}", alt: movie['title'], class: "object-cover w-full h-48 sm:h-64") %>
                <% end %>
                <% end %>
            <div class="p-4">
              <%= link_to movie_path(movie['id']), class: "block text-lg font-semibold hover:text-blue-600" do %>
                <%= movie['title'] %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="mt-4">No movies found</p>
    <% end %>
  </div>
</div>
